/* esto es un comentario en css */

/* Selector Universal (*) va a seleccionar todos los elementos del html */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Para que el ancho y el alto de los 
    elementos html se ajuste a lo declarado */
}

a {
    color: inherit;
    text-align: center;
    color: rgb(248, 245, 240);
}

body {
    text-align: center;
    color: rgb(249, 249, 249);
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);

}

.video_fondo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*z-index: al seleccionarle en menos, la imagen lo posiciona atras*/
    z-index: -1;
    /*ancho el 100 del dispositivo*/
    width: 100%;
    /*altura adaptable del 100 del dispositivo*/
    height: 100%;
    object-fit: cover;
}

header {
    display: block;
    position: sticky;
}

.nombre {
    /*color de fuente*/
    color: aliceblue;
    /* Alinear el texto */
    text-align: center;
    /* Tamaño de la fuente */
    font-size: 7rem;
    padding-top: 0rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    color: rgb(28, 15, 161);
}

h1 h2 h3 h4 {
    text-align: center;
    font-size: x-large;
    font-style: oblique;
    color: blue;
}

.botton {
    background-color: rgb(4, 4, 4);
    padding: 10px;
    display: inline-block;
    /*sin subrallado*/
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 50px;
    margin-bottom: 1rem;
    text-align: center;
    /*separa las letras una con otra*/
    letter-spacing: 2px;
}


.parrafodestacado {
    display: block;
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 0;
    text-transform: capitalize;
    color: aliceblue;
}

/*inicicio del main*/
.main {
    margin: 0;
    min-height: 100vh;
    width: cover;
    position: relative;
}

.sector_inicio_1 {
    width: 100%;
    display: flex;
    padding-left: 2rem;
}

.INICIO-1 {
    color: black;
    text-align: justify;
    border: 0rem;
    padding: 0rem;
    margin-top: 1.5rem;

    align-items: center;
    width: 60%;
    text-align: left;
}

.inicio_2 {
    position: relative;
    height: 300px;
    width: 50%;
    margin: 1.5rem;
    text-align: right;
}

.lista{
    margin-top: 10px;
}

.parrafossector1 {
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.item {
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    font-style: oblique;
    letter-spacing: 2px;
    border-bottom: 2rem;
}

.SECTOR_INICIO-2 {
    display: block;
    text-align: center;
    color: blue;
    letter-spacing: 2px;
    font-style: oblique;
    font-size: 1.5rem;
}

.formulario {
    text-decoration: underline 2px;
}

.enviar {
    background-color: none;
    color: aliceblue;
    padding: 10px;
    display: inline-flex;
    /*sin subrallado*/
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 50px;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 2px;
}

.todo_el_pie {
    display: block;
    position: initial;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: blue;
    color: blanchedalmond;
    font-style: oblique;
}

.redsocial {
    display: inline-block;
    font-size: 25px;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

p {
    padding-bottom: 1rem;
}

.pie_de_pagina {
    text-align: center;
    font-size: 20px;
}

/*Iniciondo pagina 2 TRABAJOS*/

.h-central {
    padding: 0;
    color: blanchedalmond;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.tabla {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.sutite {
    position: relative;
    display: block;
    color: blanchedalmond;
    text-align: left;
    padding-bottom: 1.3REM;
}

.sector_trabajo-imagenes {
    display: block;
    position: relative;
    justify-content: space-between;
    text-align: center;
    color: blue;
    letter-spacing: 2px;
    font-style: oblique;
    font-size: 1.5rem;
}

/*inicio de imagen con flex*/
.box {
    /*Los elementos aparecen distribuidos uniformemente y con un espacio igual(der. e izq.)*/
    justify-content: space-around;
    /*Para facilitar el maquetado de la pág*/
    display: flex;
    /*Crea en filas de izquierda a derecha*/
    flex-direction: row;
    /*todos los elementos están alineados con el inicio del eje transversal*/
    align-items: flex-start;
    gap: 3rem;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    padding-bottom: 1rem;

}

.subbox {
    display: inline-block;
    /*No pierde su espacio en el flujo, el punto de referencia son
    los costados.*/
    position: relative;
    width: 400px;
    height: 400px;
    border: solid black;
    border-radius: 1rem;
    border-style: groove;
    /*genera sombras al contenedor (div)*/
    box-shadow: darkolivegreen 4px 4px;
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    /*permite que el contenido no se desborde en su div*/
    overflow: hidden;
}

.texto-encima {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 2rem;
    padding-bottom: 2rem;
    color: rgb(4, 42, 255);
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 2px rgb(12, 21, 102);
}

.imagen_trabajo {
    /*redondea los bordes para que quede mas estetico*/
    border-radius: 2rem;
}

.box_central {
    align-content: center;
}

/*final de imagen con flex*/

.sector_ayuda {
    display: block;
    text-align: left;
    color: red;
    letter-spacing: 2px;
    font-style: oblique;
    font-size: 1.5rem;
    margin: 2rem 0 2rem 3rem;
}

.ayudalink {
    margin-top: 1rem;
    margin-left: 10rem;
    color: yellow;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    /*saca el puntito de la viñeta*/
    list-style-type: none;
    font-size: xx-large;
}


/*iniciando pagina 3 TIENDA*/

/*Transición de uno estado al otro (del zoom)  forma gradual*/
.zoom {
    transition: transform .2s;

}

/*Hacer zoom a la imagen*/
.zoom:hover {
    transform: scale(1);
    top: 0;
    width: 400px;
    height: 400px;
    border-radius: 10px;

}

.vendo_titulo {
    margin-bottom: 5px;
    margin-top: 5px;

}

.pagar {
    display: inline-block;
    color: yellow;
    font-size: large;
    margin-top: 10px;
}

.atencion {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: xx-large;
    /*aplica la negrita extandar*/
    font-weight: bold;
    color: red;
    /*espacio entre las letras*/
    letter-spacing: 5px;
}