/* esto es un comentario en css */

/* Selector Universal (*) va a seleccionar todos los elementos del html */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Para que el ancho y el alto de los 
    elementos html se ajuste a lo declarado */
}

a {
    color: inherit;
    text-align: center;
    color: rgb(248, 245, 240);
}

body {
    text-align: center;
    color: rgb(249, 249, 249);
    background-color: rgb(134, 152, 255);
    width: 100vw;
}

.video_fondo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*z-index: al seleccionarle en menos, la imagen lo posiciona atras*/
    z-index: -1;
    /*ancho el 100 del dispositivo*/
    width: 100%;
    /*altura adaptable del 100 del dispositivo*/
    height: 100%;
    object-fit: cover;
}

header {
    display: block;
    /*Es relativamente hasta que su bloque contenedor 
    cruza un límite establecido*/
    position: sticky;
}

.nombre {
    /*color de fuente*/
    color: aliceblue;
    /* Alinear el texto */
    text-align: center;
    /* Tamaño de la fuente */
    font-size: 7rem;
    padding-top: 0rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    color: rgb(28, 15, 161);
}

h1 h2 h3 h4 {
    text-align: center;
    font-size: x-large;
    font-style: oblique;
    color: blue;
}

.botton {
    background-color: rgb(4, 4, 4);
    padding: 10px;
    display: inline-block;
    /*sin subrallado*/
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    border-radius: 50px;
    margin-bottom: 1rem;
    text-align: center;
    /*separa las letras una con otra*/
    letter-spacing: 2px;
}


.parrafodestacado {
    display: block;
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 0;
    text-transform: capitalize;
    color: aliceblue;
}

/*inicicio del main*/
.main {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sector_inicio_1 {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    padding-left: 2rem;

}

.inicio_1 {
    display: inline-flexbox;
    flex-direction: row;
    color: black;
    text-align: justify;
    border: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1.5rem;
    align-items: flex-start;
    text-align: center;
}

.parrafossector1 {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.item {
    text-align: justify;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    font-style: oblique;
    letter-spacing: 2px;
    border-bottom: 2rem;
}

.lista {
    margin-top: 10px;
}

.inicio_2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 1.5rem;
    align-items: flex-start;
    height: 300px;

}

.inicio_2_imagen {
    width: 350px;
    height: 400px;
    align-items: center;
}

.sector_inicio_2 {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    color: blue;
    letter-spacing: 1px;
    font-style: oblique;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.ingreso {
    margin-bottom: 8px;
}

.formulario {
    text-decoration: underline 2px;
}

.todo_el_pie {
    display: inline-block;
    position: initial;
    background-color: blue;
    color: blanchedalmond;
    font-style: oblique;
    width: 100%;
}

.redsocial {
    display: inline-block;
    font-size: 25px;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

p {
    padding-bottom: 1rem;
}

.pie_de_pagina {
    text-align: center;
    font-size: 20px;
}

/*Iniciondo pagina 2 TRABAJOS*/

.h-central {
    padding: 0;
    color: blanchedalmond;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.sutite {
    position: relative;
    display: block;
    color: blanchedalmond;
    text-align: left;
    font-size: xx-large;
    margin-left: 2rem;
    padding-bottom: 1.3REM;
}

/* Carousel de bootstrap */
.carousel-item img {
    /* Altura de la imagenes */
    height: 500px;
    object-fit: cover;
}

.container-fluid {
    overflow: hidden;
}

.carousel-caption {
    bottom: 0;
    padding-bottom: 10px;
}

h5 {
    color: yellow;
    font-size: 3rem;
    -shadow: darkolivegreen 4px 4px;
}

.sector_ayuda {
    display: block;
    text-align: left;
    color: red;
    letter-spacing: 2px;
    font-style: oblique;
    font-size: 1.5rem;
    margin: 2rem 0 2rem 3rem;
}

.ayudalink {
    padding: 0;
    margin-top: 1rem;
    margin-left: 10rem;
    color: yellow;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    /*saca el puntito de la viñeta*/
    list-style-type: none;
    font-size: xx-large;
}


/*iniciando pagina 3 TIENDA*/

/*inicio de imagen con flex*/
.box {
    /*Los elementos aparecen distribuidos uniformemente y con un espacio igual(der. e izq.)*/
    justify-content: space-around;
    /*Para facilitar el maquetado de la pág*/
    display: flex;
    /*Crea en filas de izquierda a derecha*/
    flex-direction: row;
    /*todos los elementos están alineados con el inicio del eje transversal*/
    align-items: flex-start;
    gap: 3rem;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.subbox {
    /*No pierde su espacio en el flujo, el punto de referencia son
    los costados.*/
    position: relative;
    width: 400px;
    height: 500px;
    border: solid black;
    /*redondea los bordes para que quede mas estetico*/
    border-radius: 1.5rem;
    border-style: groove;
    /*genera sombras al contenedor (div)*/
    box-shadow: darkolivegreen 4px 4px;
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    /*permite que el contenido no se desborde en su div*/
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15PX;
}

/*Transición de uno estado al otro (del zoom)  forma gradual*/
.zoom {
    transition: transform .2s;
    border-radius: 100px;
}

/*Hacer zoom a la imagen*/
.zoom:hover {
    transform: scale(1);
    top: 0;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.vendo_titulo {
    margin: 5px;
}

.precio {
    /*Aplicará la negrita estándar*/
    font-weight: bold;
}

.pagar {
    display: inline-block;
    color: blue;
    font-size: large;
    margin-top: 10px;
    padding-bottom: 20px;
}

/*final de imagen con flex*/

.atencion {
    margin: 2rem;
    font-size: xx-large;
    /*aplica la negrita extandar*/
    font-weight: bold;
    color: red;
    /*espacio entre las letras*/
    letter-spacing: 5px;
}

/*adaptacion para tablet*/
@media (max-width: 1023px) {

    /*pag. 1 inicio*/
    h2 h3 {
        text-align: center;
        font-size: larger;
        font-style: oblique;
        color: blue;
    }

    .sector_inicio_1 {
        flex-direction: column;
        justify-content: space-around;
    }

    .nombre {
        font-size: 60px;
    }

    .botton {
        font-size: 7px;
        border-radius: 50px;
        margin-bottom: 0;
        letter-spacing: 1px;
    }

    .parrafodestacado {
        font-size: 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;

    }

    .sector_inicio_1 {
        max-width: 100vw;
        align-items: center;
        padding: 10px;

    }

    div {
        max-width: 100%;
        max-height: 100%;

    }

    .inicio_2 {
        width: 100%;
    }

    .inicio_2_imagen {
        display: inline-block;
        top: center;
        margin-left: 20%;
        object-fit: contain;
        max-height: 300px;
    }

    .formulario {
        font-size: 25px;
    }

    .tipear {
        font-size: 20px;
        /*genera espaciados en altura*/
        line-height: 3rem;
    }

    .redsocial {
        font-size: 20px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .pie_de_pagina {
        font-size: 15px;
    }

    /*pag. 2 trabajo*/

    .h-central {
        font-size: 2.5rem;
    }

    .sutite {
        font-size: 1.8rem;
    }

    .carousel-item img {
        height: 400px;
    }

    h5 {
        font-size: 2rem;
    }

    h3 {
        margin-right: 1rem;
    }

    .ayudalink {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0;
        font-size: 26px;
    }

    /*pag. 3 tienda*/

    .subbox {
        width: 300px;
        height: auto;

    }

    .zoom:hover {
        transform: scale(0.70);
        width: 200px;
        height: 300px;

    }

    .atencion {
        margin: 1rem;
        font-size: x-large;
        letter-spacing: 2px;
    }
}

/*adaptacion para movil*/
@media (max-width: 600px) {

    /*pag. 1 inicio*/
    .inicio_2_imagen {
        margin-left: 10%;
    }

    .lista {
        text-align: left;
    }

    .tipear {
        font-size: 1rem;
    }

    .formulario {
        font-size: 22px;
    }

    .ingreso {
        font-style: oblique;
        letter-spacing: 0.5px;
    }

    input {
        font-size: 15px;
        height: 40px;
        border-radius: 10px;
    }

    .redsocial {
        font-size: 18px;
        margin-top: 15px;
        margin-right: 15px;

    }

    .pie_de_pagina {
        font-size: 12px;
    }

    /*pag. 2 trabajo*/

    .h-central {
        font-size: 2.2rem;
    }

    .sutite {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .carousel-item img {
        height: 200px;
    }

    h5 {
        font-size: 1.5rem;
    }

    h3 {
        margin-right: 1rem;
    }

    .ayudalink {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0;
        font-size: 20px;
    }

    /*pag. 3 tienda*/

    .h-central {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        font-size: 1.8rem;
    }

    .box {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .subbox {
        width: 250px;
        height: auto;


    }

    .zoom:hover {
        transform: scale(0.70);
        width: 200px;
        height: 300px;

    }

    .mq600 {
        font-size: 20px;
        font-weight: 600;
    }

    .atencion {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: large;
        letter-spacing: 2px;
    }
}